{% extends 'base.html' %}

{% load mathfilters %}
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md">

           <div class="card mt-2 align-items-center">
              <img src="{{ detay.image.url }}" class="card-img-top w-75 " alt="...">
              <div class="card-body">
                <h5 class="card-title">Kurs Adı : {{ detay.title }}</h5>
                <p class="card-text">Kurs Açıklaması : {{ detay.description }}</p>
               <p class="card-text">Kurs Toplam Saat : {{ detay.educationTime  }}   </p>
              <p class="card-text"> Kalan süre : {{ detay.educationTime|sub:detay.countFinished }}</p>

                  <a href="{% url 'index' %}" class="btn btn-dark">Anasayafa</a>

              </div>
            </div>

        </div>
    </div>
    </div>







{% endblock %}